/*-- Outlining index page font  --*/
body {
    font-family: latha;
    color:#9e9e9e ;
    background: url(https://images.pexels.com/photos/4553378/pexels-photo-4553378.jpeg?cs=srgb&dl=pexels-roman-odintsov-4553378.jpg&fm=jpg);
    background-size: cover;
    width:100%;
    height:auto;
}

/*-- Styling For black opaque panel containing welcome message text on index page --*/
.sidePanel {
    width: 450px;
    height: 100%;
    background-color:black;
    color: white;
    opacity: 0.8;
    padding: 25px;
    margin-left: 23px;
    font-size: 25%;
}

.sidePanel h6 {
    color: red;
}

