{% extends "base.html" %}
{% block content %}

<h3 class="red center-align">All Recipes</h3>

<ul class="collapsible popout">
    {% for recipe in recipes %}
	<li>
		<div class="collapsible-header">
          <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('delete_recipes', recipe_id=recipe._id) }}" class="btn-small green accent-4 right">Delete</a>
                        <a href="{{ url_for('edit_recipes', recipe_id=recipe._id) }}" class="btn-small light-blue lighten-1 right">Edit</a>
                    {% endif %}
                </div>
        <i class="far fa-list-alt"></i>
        <b> {{recipe.recipe_name}} </b>
        {% if recipe.recipe_allergy == "on" %}
        <i class="fas fa-exclamation-circle tooltipped"
            data-position="right" data-tooltip="Contains Allergens Highlighted In Description">
        
        </i>
        {% endif %}
        </div>

		<div class="collapsible-body">
		<div class="row">
			<div class="col s8 push-s4">
				<span class="flow-text">
                <h3 class="red darken-4"> Ingredients </h3>
                {{recipe.recipe_ingredients}}
                <h3 class="red darken-4"> Ingredients </h3>
                {{recipe.recipe_time}}
        
                {{recipe.recipe_image}}
                <h3 class="red darken-4"> Ingredients </h3>
                {{recipe.recipe_description}}
                <p><em>by: {{ recipe.created_by }}</em></p>
                </span></div>

			<div class="col s4 pull-s8"><span class="flow-text">
            {{recipe.recipe_image}}
            
            
            </span></div>
		</div>
        </div>
	</li>
	{% endfor %}
</ul>

{% endblock %}